mat-card {
  width: 30rem;
  height: 45rem;
}

.message-list {
  height: 34rem;
  overflow-y: scroll;
  text-align: left;
}

.room {
  position: relative;
  bottom: 5px;

  &.active {
    color: white !important;
    background-color: #29b6f6 !important;
  }

  &:hover {
    cursor: pointer;
  }
}

.rooms {
  position: relative;
  bottom: 10px;
  left: -35px;
}
